{% extends "layout.html" %}

{% block content %}
{% from "macrogestionproducto.html" import render_field %}
    <div class="item-grid content-grid text-center">
        <h1>GESTION DE PRODUCTOS</h1>
        <!-- Formulario de registrar productos -->
        <!-- Consultar producto-->
        <form class="form-inline-block m-5 pr-5 pl-5" method="POST">
          {{ render_field(form.nombre, class='form-control') }}
            <button class="btn btn-primary mt-3" type="submit">Consultar</button>
        </form>

        <!--Mostrar Lista-->
        <button class="btn btn-primary">Mostrar Lista</button>

        <!--Lista de prodcutos-->
        <div class="col">
          <table class="table p-5 mt-3">
            <tr class="table-muted">
              <td>Nombre del producto</td>
              <td>Codigo </td>
              <td>Precio (Kg) </td>
              <td>Cantidad </td>
              <td>Dia Vencimiento </td>
              <td>Mes Vencimiento </td>
              <td>Año Vencimiento </td>
              <td>Accion</td>
            </tr>
            
            {% for item in data.each()%}
            <tr>
                 
                {%set sub=db.child(item.key()).get()%}
                {%for obj in sub.each()%}
                  <td name="{{obj.val()}}">{{obj.val()}}</td>
                {% endfor %}
                <td>
                    <div class="pull-left">
                      <a href="/entrada/{{item.key()}}" class="btn btn-sm btn-primary">Entrada</a>
                      <a href="/salida/{{item.key()}}" class="btn btn-sm btn-primary">Salida</a>
                    </div>
                    
                   <div class="pull-left">
                    <a href="/eliminar/{{item.key()}}" class="btn btn-sm btn-danger">Eliminar</a>
                    <a href="/editar/{{item.key()}}" class="btn btn-sm btn-warning">Modificar</a>
                   </div>
                    
                   <!-- <button id="{{item.key()}}" class="btn btn-sm btn-danger">Eliminar</button>
                    <button id="{{item.key()}}" class="btn btn-sm btn-warning">Modificar</button>-->
                  
                  
                
                </td>
              </tr> 
              {% endfor %}
          </table>
         <!-- <button class="btn btn-sm btn-danger">Ocultar Lista</button>-->
        </div>
        
        
        <!--Agregar Producto-->
        <a href="{{ url_for('agregarProducto') }}"><button class="btn btn-success mt-5">Agregar Producto</button></a>
        <a href="{{ url_for('main') }}"><button class="btn btn-success mt-5">MENÚ PRINCIPAL</button></a>
        

    </div>

{% endblock %}  