{% extends "layout.html" %}

{% block content %}
{% from "macro.html" import render_field %}
    <div class="item-grid content-grid text-center">
        <h1>GESTION DE OFERTAS</h1>
        <div class="m-3 p-3">
            <a class="btn btn-primary" href="{{ url_for('agregarOferta') }}">AGREGAR OFERTA</a>
        </div>
        <div class="m-3 p-3">
            <a class="btn btn-primary" href="{{ url_for('modificarOferta') }}">MODIFICAR OFERTA</a>
        </div>

        <div class="m-3 p-3">
            <a class="btn btn-primary" href="{{ url_for('eliminarOferta') }}">ELIMINAR OFERTA</a>
        </div>

        <div class="m-5 p-5">
            <a class="btn btn-primary" href="{{ url_for('gestionProductos') }}">Volver</a>
        </div>
        
    </div>

{% endblock %}  