{% extends "layout.html" %}

{% block content %}
    
    <div class="item-grid content-grid text-center">

        <h1 class="border-bottom border-light p-2">MODIFICAR PRODUCTO</h1>

        <div class="card pr-5 pl-5 m-5">
            <div class="card-body">
              <h4 class="card-title">Nombre del producto</h4>
              <div class="col">
                <table class="table">
                  <tr class="table-muted">
                    <td>Codigo </td>
                    <td>Precio </td>
                    <td>Cantidad </td>
                    <td>Fecha de Ingreso </td>
                    <td>Fecha de Caducidad </td>
                  </tr>
                  <tr>
                    <td>012</td>
                    <td>2$</td>
                    <td>2kg</td>
                    <td>3/10/2020</td>
                    <td>10/12/2020</td>
                  </tr>
                </table>
              </div>
              <a href="{{ url_for('gestionProductos') }}" class="btn btn-success">ACEPTAR CAMBIOS</a>
            </div>
          </div>
    </div>

{% endblock %}  