{% extends "layout.html" %}

{% block content %}
{% from "macro.html" import render_field %}
    <div class="item-grid content-grid text-center">

        <h1 class="border-bottom border-light p-2">RECUPERAR CONTRASEÑA</h1>
        <form method="POST">
            <div class="p-5 m-5">
                <p class=""> Se le enviara un correo a la direccion que proporcione con la nueva contraseña provicional</p>
                {{ render_field(form.email, class='form-control') }}
                <button class="btn btn-primary" type="submit">ENVIAR</button>
            </div>
        </form>
        
            
        
    </div>

{% endblock %}  